@font-face {
   font-family: 'ethnocentric rg';
   font-display: swap;
   src: url('file:///Users/danielpina/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-10-03_135248/fonts/ethnocentric%20rg/font.ttf');
}
